body {
    background-color: lightblue
}
.center {
    text-align: center;
}
h1 {
    color: red
}
.center {
    display: block
}
div {
    height: 300px;
    width: 20%;
    background-color: lightblue;
}
img {
    height: 300px;
    width: 20%;
    background-color: d
}

.mario{
    display:inline-block;
}
.cool {
    height: 496px;
    width: 100%;
    background-color: lightblue
}
.nice {
    height: 315px;
    width: 33%;
    background-color: lightblue
}
.awesome {
    height: 375px;
    width: 48%;
    background-color: lightblue
}